pipelines:
  custom:
    manual-build:
    - step:
        name: test
        image: atlassian/pipelines-awscli
        script:
           - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
           - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
           - export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION
           - aws codeartifact get-authorization-token --domain yuzee --domain-owner 607951638574 --query authorizationToken --output text > pass.txt
           - value=$(<pass.txt)
           - echo $value
           - echo "export value=$value" set_env.sh

           - printenv > set_env.sh 

        artifacts:
           - set_env.sh
     
              
    - step:
        name: maven
        image: maven:3.8.1
        caches:
          - maven
        script: # Modify the commands below to build your repository.
         
          - source set_env.sh
          - echo $value
          - export CODEARTIFACT_AUTH_TOKEN=$value
          - cat settings.xml
          - mvn clean deploy -s settings.xml -P snapshot
          
 